:root{
    font-size: 15px;
}

*, li, ul{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



body{
    border: 1px palevioletred solid;
}

.library{
    margin: 4rem;    
}

.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
}


.book-card{
    border: 1px seagreen solid;
    /*max-width: 300px;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:24px;
}

.book-card:hover{
    background-color: peachpuff;
}






button{
    padding: 4px 8px;
    background-color: peachpuff;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
}


